@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wavefont:wght@4..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-l;
    @apply from-emerald-700;
    @apply to-emerald-400;
    @apply rounded-s-md;
    @apply bg-opacity-60;
    @apply hover:bg-opacity-100;
}
@font-face {
    font-family: "pixyboy";
    src: url("/assets/pixyboy.ttf") format("truetype");
}
@font-face {
    font-family: "robotics";
    src: url("/assets/robotics.ttf") format("truetype");
}
@font-face {
    font-family: "iron-maiden";
    src: url("/assets/maiden.ttf") format("truetype");
}
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
